.form-Modal{
    display: grid;
    height: 30%;
    width: auto;
    padding: 10px 5% 0px 5%;
    background-color: white;
    position: absolute;
    justify-content: center;
    top: 35vh;
}

label{
    text-align: center;
    font-family: 'Shantell Sans', cursive;
    font-size: 20px;
    margin-top: 10px;
    font-weight: bold;
    
}

textarea{
    height: 10vh;
    width: 80%;
    margin-left: 5%;
    padding: 10px;
    font-size: 15px;
    text-align: center;
    font-family: 'Shantell Sans', cursive;
    resize: none;
    border-color: #61DAFA;
    color: #1E1E1F;

}
textarea:focus{
    outline-color: #61DAFA;

}
.buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    width: 100%;

}
.cancelButton{
    font-family: 'Shantell Sans', cursive;
    font-size: medium;
    background-color: white;
    border: none;
    height: 100%;
    margin-left: 5%;
    padding: 2px 12px 2px 12px;
    margin-top: -5%;
    width: auto;

}
.cancelButton:hover{
    background-color: rgb(224, 85, 85);
}

.submitButton{
    font-family: 'Shantell Sans', cursive;
    font-size: medium;
    background-color: white;
    border: none;
    width: 40%;
    height: 100%;
    margin-top: -5%;
    margin-right: 6%;
}
.submitButton:hover{
    background-color: #61DAFA;
}

@media (min-width:940px) {
    .form-Modal{
        display: none;
    }
    .modal-section{
        display: none;
    }
}