.container{
    display: flex;
    justify-content: space-between;
}

@media (max-width:940px){
 .container{
    justify-content: center;
    flex-wrap: wrap;
    width: 23em;
    height: 50em;
 }   
}
