.container-todo {
    margin: 1em 4em;
    display: grid;
    grid-template-columns: auto;
    width: 39em;
    height: 33em;
    background-color: white;
    border-radius: 15px;
    padding: 15px;

    box-shadow: 1px 1px 5px 5px rgb(198, 198, 198);
}

.title {
    font-size: 2em;
    font-family: 'Shantell Sans', cursive;
    margin-top: 1.5em;
    margin-left: 1em;
}

.search-task {
    background-color: rgb(241, 241, 241);
    border: 0;
    border-radius: 10px;
    margin-bottom: 1em;
    padding: 5px 5px 5px 20px;
    margin-left: 2em;
    font-family: 'Shantell Sans', cursive;
    outline: none;
    height: 3em;
    width: 22em;
}

.search-task:hover {
    border: 0px solid rgb(241, 241, 241);
    contain: none;
    cursor: text;
    outline: none;
}

.newTodoForm{
    background-color: transparent;
    padding: 0;
    margin-top: 0vh;
    width: 12em;
    
}

.subtitle{
    font-family: 'Shantell Sans', cursive;
    font-weight: lighter;
    margin-left: 1.8em;
    margin-bottom:1.5em;
    height: 0px;
}

.list-img{
    display: block;
    justify-content: center;
    margin-top: 2em;
    margin-left: 6em;
    background-color: transparent;
}
img {
    height: 13em;
    width: 13em;
}

span {
    margin: 20px;
}

.add {
    background-color: #4CAF50;
    /* Fondo verde */
    border: none;
    /* Sin borde */
    color: white;
    /* Texto en blanco */
    padding: 12px 20px;
    /* Espacio interno */
    text-align: center;
    /* Alineación de texto */
    text-decoration: none;
    /* Sin subrayado */
    display: inline-block;
    /* Bloque de elemento en línea */
    font-family: 'Shantell Sans', cursive;
    font-size: 16px;
    /* Tamaño de fuente */
    /* Espacio exterior */
    cursor: pointer;
    /* Cursor de puntero */
    border-radius: 5px;
    /* Bordes redondeados */
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    /* Sombra */
    transition: background-color 0.3s ease;
    /* Transición de color de fondo */
    margin: 0vh 0vh 0vh 1.7em;
    width: 15em;

}

.add:hover {
    background-color: #3e8e41;
    /* Cambio de color de fondo al pasar el mouse */
}


@media (max-width:940px){
    .container-todo{
        width: 18em;
        display:initial;
        margin: 0em 0em 0em 0em;
        height: 43em;
    }
    .add{
        margin-top:0 ;
        display: none;
    }
    .subtitle{
        display: none;
    }
    .title{
        display: none;
    }

    .list-img{
        display: none;
    }
}

/*Media query width 1400px*/

@media (min-width:1400px){
    .container-todo {
        height: 53rem;
        display: grid;
        grid-template-columns: auto;
        background-color: white;
        border-radius: 15px;
        box-shadow: 1px 1px 5px 5px rgb(198, 198, 198);
    }
    .search-task{
        width: 30em;
        height: 4em;
    }
    .add{
        width: 18em;
    }
    .title{
        font-size: 35px;
        margin-bottom: 1.5em;
        margin-top: 2.5em;
    }
    img{
        height: 23em;
        margin-left: 3em;
        width: 18em;
    }
}

