.container-list {
    margin: 1em 4em;
    display: grid;
    justify-content: center;
    width: 39em;
    height: 33em;
    background-color: white;
    border-radius: 15px;
    box-shadow: 1px 1px 5px 5px rgb(198, 198, 198);
    padding: 15px;
}

.container-search {
    display: grid;
    height: 11em;
}

.container-search h1 {
    margin-top: 1.2em;
    text-align: center;
    font-family: 'Shantell Sans', cursive;
    font-size: 35px;
    font-weight: bold;
}

.container-search h4 {
    margin-top: 0em;
    margin-bottom: 0em;
    text-align: center;
    font-family: 'Shantell Sans', cursive;
    font-weight: lighter;
}

.container-tasks {
    display: block;
    height: 17em;
    margin-left: 2em;
    margin-top: 4.5em;
    width: 22em;
    padding: 0;
    list-style: none;
    overflow:auto;
}

.container-tasks::-webkit-scrollbar-track {
    background-color: #d30707; /* Color del track */
  }
  
.container-tasks::-webkit-scrollbar-thumb {
    background-color: #888; /* Color del thumb */
    border-radius: 5px; /* Radio de los bordes del thumb */
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Color del thumb cuando se le hace hover */
  }

.container-tasks ::-webkit-scrollbar-thumb{
    background-color: bisque;
    color: aqua;

}

@media (max-width:940px) {
    h1 {
        display: none;
    }

    .container-tasks{
        width: 17em;
        margin-left: 0em;
        height: 21em;
        overflow: auto;
    }

    .container-list {
        background-color: transparent;
        box-shadow: none;
        position: absolute;
        display: initial;
        width: 20em;
        height: 44em;
        margin: 0em;
    }

    .container-search {
        display: grid;
    }

    .container-search h4 {
        margin: 3em 1em 1em 1em;
        text-align: center;
        width: 12em;
        font-family: 'Shantell Sans', cursive;
        font-size: 23px;
        font-weight: bold;
    }

    .search-task {
        display: none;
    }
    .container-tasks{
        margin-left: 0;
        width: 19em;
    }

    .search-task:hover {
        border: 0px solid rgb(241, 241, 241);
        contain: none;
        cursor: text;
        outline: none;
    }
}

/*Media query width 1400px*/

@media (min-width:1400px){
    .container-list{
        height: 53em;
    }
    .container-search h1{
        font-size: 45px;
        margin-top: 1.8em;
    }
    .container-search h4{
        font-size: 20px;
    }
    .container-tasks{
        width: 30em;
        height: 20em;
    }
}